.link {
  text-decoration: none;
  color: #007bff;
}

.link:hover {
  color: #a6cefa;
}
.white {
  color: white;
}

.movieWrapper {
    width: 100%;
}

.movieListWrapper {
    justify-content: center;
    width: 100;
    display: flex;
}
.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.searchInput {
  width: 30%;
  background-color: #657182;
  color: white;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.searchInput::placeholder {
  color: white;
}

.searchButton {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #657182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #9fa7b2;
}
